<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <div class="navbar-header">
        <!--<button type="button"
                class="nav navbar-toggle collapsep"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand"
           [routerLink]="['/home']"
           routerLinkActive="router-link-active">SGWS App</a>
      </div>
     
      <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
        <ul class="nav navbar-nav mr-auto" *ngIf="loggedin()">
          <li  class="dropdown" *ngIf="isAdmin()" [routerLink]="['/listar-usuario']"><a >Listar Usuários</a></li>
          <li class="dropdown"><a [routerLink]="['/editar-cadastro/', userAuth.idPessoa]">Cadastro <span class="caret"></span></a></li>
          <li class="dropdown" dropdown>
            <a (click)="(false)" class="dropdown-toggle" dropdownToggle>
              Agendamentos<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" *dropdownMenu>

              <li>
                <a [routerLink]="['/tarefas/cadastrar']"
                   routerLinkActive="router-link-active">Cadastro</a>
              </li>

              <li>
                <a [routerLink]="['/tarefas']"
                   routerLinkActive="router-link-active">Listar</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul *ngIf="loggedin()" class="nav navbar-nav navbar-right">
          <!--<li><a (click)="logout()">Sair</a></li>-->
          <li class="dropdown" dropdown>
            <a (click)="(false)" class="dropdown-toggle" dropdownToggle>
              Bem Vindo {{ getNome() }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" *dropdownMenu>

              <li role="separator" class="divider"></li>
              <li>
                <a (click)="logout()"><i class="fa fa-sign-out"></i>Sair</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>