<div class="row">
  <div class="col-md-3">
    <div
      style="
        margin-top: 36px;
        height: 650px;
        width: 300px;
        background-color: #fff !important;
        float: left;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 40px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        flex-grow: 1;
        border-top: 4px solid #fac863;
      "
    >
      <div
        style="
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 18px;
          text-align: center;
          padding-top: 25px;
          background-color: #213b3b;
          color: #fff;
          height: 70px;
        "
      >
        Novo Agendamento
      </div>
      <div class="form-group" style="margin-top: 40px">
        <div style="margin-left: 35px">
          <mat-form-field style="background-color: #fff">
            <mat-label>Serviço</mat-label>
            <input
              type="text"
              aria-label="Serviço"
              matInput
              [formControl]="servicoControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="populateForm($event)"
              [displayWith]="displayFn"
            >
              <mat-option *ngFor="let item of filteredOptions | async" [attr.data-dados]="item.id" [value]="item">{{
                item.nome
              }}</mat-option>

            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group" style="margin-top: 40px">
          <div style="margin-left: 35px">
            <mat-form-field style="background-color: #fff">
              <mat-label>Profissionais</mat-label>
              <input
              type="text"
              aria-label="Profissionais"
              matInput
              [formControl]="profissionaisControl"
              [matAutocomplete]="autoProf"
            />
            <mat-autocomplete #autoProf="matAutocomplete"
                              [displayWith]="displayProfFn">
              <mat-option *ngFor="let prof of profissionaisOptions | async" [value]="prof">
                {{prof.nome}}
              </mat-option>

            </mat-autocomplete>
<!--
              <mat-select [(value)]="selectedProfessionals">
                <mat-select-trigger>
                    {{ (selectedProfessionals.id > 0) ? selectedProfessionals.nome : 'selecione um item' }}
                </mat-select-trigger>
                <mat-option>
                  <input matInput placeholder="Filtrar"
                        [(ngModel)]="filterProfessionalsValue"
                        (keyup)="getfilterProfessionals()">
                </mat-option>
                <mat-option *ngFor="let item of filteredProfessionals" [value]="item">
                  {{ item.nome  }}
                </mat-option>
              </mat-select> -->
            </mat-form-field>
          </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div
      style="
        margin-top: 25px;
        padding-left: 25px;
        position: relative;
        border-top: 4px solid #fac863;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        flex-grow: 1;
        margin-top: 36px;
        padding-top: 85px;
        background-color: #fff;
      "
    >
      <full-calendar [options]="calendarOptions">
        <ng-template #eventContent let-arg>
          <b>{{ arg.timeText }}</b>
          <i>{{ arg.event.title }}</i>
        </ng-template>
      </full-calendar>
    </div>
  </div>
</div>
